.logo {
  height: 10rem;
}
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-secondary);
    transform: scale(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }
  &__item:hover::before,
  &__item--active::before {
    transform: scale(1);
    width: 100%;
    opacity: 0.8;
  }
  &__item:active::before {
    background-color: var(--color-primary-light);
  }
  &__link:link,
  &__link:visited {
    color: var(--color-primary);
    font-weight: 500;
    z-index: 10;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}
.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-dark-3);
}
.gallery {
  display: flex;
  background-color: currentColor;
  max-height: 30rem;
  &__item {
    max-height: 17rem;
  }
  &__photo {
    max-height: 17rem;
    width: auto;
    max-width: 100%;
    display: block;
  }
}
